@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Playfair+Display:400,700|Poppins:400,700&display=swap");
$content: "Nunito", sans-serif;
$header: "Playfair Display", serif;
$extra: "Poppins", sans-serif;

$primary: #b69100;
$secondary: #a38b2d;
$light-header: #404040;
