@import "global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ========================================================= HEADER MENU-BAR =====================================================
.header {
  width: 100%;
  font-family: $header;
  .for-ph {
    width: 100%;
    margin: auto;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    display: none;
    p {
      font-size: 1.4rem;

      a {
        text-decoration: none;
        font-size: 1.4rem;
        color: #000;
      }
    }
    .toggle-bar {
      width: 28px;
      height: 20px;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        border-radius: 50px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }
      span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }

      span:nth-child(2) {
        top: 7px;
        transform-origin: left center;
      }

      span:nth-child(3) {
        top: 14px;
        transform-origin: left center;
      }
    }
    .open span:nth-child(1) {
      transform: rotate(45deg);
      top: -3px;
      left: 3px;
    }

    .open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    .open span:nth-child(3) {
      transform: rotate(-45deg);
      top: 17px;
      left: 3px;
    }
  }
  .menu-bar {
    width: 80%;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 60%;
        left: -10%;
        width: 120%;
        margin: auto;
        height: 40%;
        background: none;
        z-index: -1;
        transition: all 400ms;
      }

      &:hover:after {
        content: "";
        top: 0%;
        height: 100%;
        transform-origin: bottom;
        background: $primary;
      }
      &:hover {
        color: #fff;
        transition: all 400ms;
        transition-delay: 200ms;
      }
    }
    .active {
      position: relative;
      transition: all 400ms;
      transition-delay: 100ms;

      &::after {
        content: "";
        position: absolute;
        top: 60%;
        left: -10%;
        width: 120%;
        margin: auto;
        height: 40%;
        background: $primary;
        z-index: -1;
        transition: all 400ms;
      }
      &:hover:after {
        content: "";
        position: absolute;
        top: 0%;
        height: 100%;
      }
      &:hover {
        color: #fff;
      }
    }
    .logo {
      margin-top: -7px;
      font-size: 2rem;
    }
  }
}
// =================================================== HEADER-CONTENT =======================================
.header-content {
  width: 100%;
  height: 800px;
  position: relative;

  .slider {
    width: 100%;
    height: 800px;
    position: relative;

    .slide {
      position: absolute;
      width: 100%;
      height: 800px;
      opacity: 0;
      transition: all 1.2s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.2;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 800px;
        object-fit: cover;
      }

      .text {
        width: 80%;
        margin: auto;
        position: absolute;
        top: 25%;
        left: 10%;
        transition-delay: 0;

        p {
          font-family: $header;
          font-weight: 700;
          color: #fff;
          padding: 20px 0;
        }

        p:first-child {
          font-size: 5rem;
        }

        p:last-child {
          font-size: 2rem;
        }
      }
    }
    .current {
      opacity: 1;
    }
  }
  .check-in-container {
    position: absolute;
    top: 80%;
    left: 5%;

    width: 90%;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    font-family: $content;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 2;

    p {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 7px;
    }

    input {
      border: 1px solid $primary;
      outline: none;
      width: 100%;
      height: 30px;
      font-family: $content;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 10px;
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      color: $primary;
    }
    .check-in,
    .check-out,
    .guest-numbers {
      flex-grow: 0;
      margin-top: -15px;
      padding: 0 4%;
    }
    .guest-numbers p {
      font-size: 1.1rem;
    }
    .bookBtn {
      width: 30%;
      height: 100%;
      background: $primary;
      //flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 400ms;
      cursor: pointer;

      .btn {
        outline: none;
        border: none;
        color: white;
        background: none;
        font-size: 2rem;
        cursor: pointer;
      }
      &:hover {
        background: #826900;
      }
    }
  }
  .book-btn-for-small-size {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    transition: 400ms;
    z-index: -100;
    display: none;
    pointer-events: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
    font-family: $extra;

    a {
      width: 100%;
      text-decoration: none;
      color: #fff;

      text-align: center;
      font-weight: 500;

      font-size: 1.8rem;
      text-transform: uppercase;
    }
    &:hover {
      // border: none;
      background: #fff;
      border: none;

      a {
        color: $light-header;
      }
    }
  }
}
// ====================================== WELCOME PART ========================================
.welcome {
  width: 90%;
  font-family: $header;
  margin: 140px auto 140px auto;
  height: 800px;

  .container {
    position: relative;

    .text-container {
      width: 65%;
      border: 2px solid $primary;
      height: auto;
      padding: 60px;

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          color: $primary;
        }
        p:first-child {
          padding-bottom: 10px;
        }
        p:last-child {
          font-size: 30px;
          font-weight: 700;
          position: relative;
          margin-bottom: 70px;

          &::after {
            content: "";
            position: absolute;
            bottom: -25%;
            left: 15%;
            width: 70%;
            height: 2px;
            background: #000;
          }
        }
      }
      .content {
        width: 75%;
        margin: auto;
        font-family: $content;
        color: $light-header;
        font-size: 20px;
        text-align: justify;

        p {
          line-height: 3;
        }
      }
    }
    .photo {
      position: absolute;
      top: 35%;
      left: 55.5%;

      img {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
// ======================================== ROOMS ===================================
.rooms {
  width: 100%;
  font-family: $content;
  margin-bottom: 140px;

  .container {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $header;

      p {
        color: $primary;
      }

      p:first-child {
        padding-bottom: 10px;
      }

      p:last-child {
        font-size: 30px;
        font-weight: 700;
        position: relative;
        margin-bottom: 70px;

        &::after {
          content: "";
          position: absolute;
          bottom: -25%;
          left: 15%;
          width: 70%;
          height: 2px;
          background: #000;
        }
      }
    }
  }
  .place-holders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 10px;

    .room {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      height: 100%;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

      .room-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .hover {
        transform: translateX(100%);
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        z-index: 2;
        transition: opacity 500ms ease-in, transform 400ms ease,
          transform 0ms ease-out;
        opacity: 0;

        p:first-child {
          font-weight: 700;
          font-size: 28px;
        }
        p:nth-child(2) {
          font-size: 1.5rem;

          span {
            color: $primary;
          }
        }
        img {
          width: 120px;
        }
        a {
          width: 110px;
          text-decoration: none;
          background: transparent;
          color: $light-header;
          font-size: 1rem;
          padding: 7px;
          text-align: center;
          transition: 400ms;
          border: 1px solid $primary;

          &:hover {
            background: $primary;
            color: #fff;
            border: none;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0%;
        background: #fff;
        width: 100%;
        height: 100%;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 35% 50%);
        z-index: 1;
        transform: translateX(100%);
        transition: 400ms;
        opacity: 0;
      }

      &:hover:after {
        transform: translateX(0);
        opacity: 1;
      }

      &:hover .hover {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  .view-all-rooms {
    text-align: center;
    margin: 60px auto 0 auto;
    width: 100%;

    a {
      width: 110px;
      text-decoration: none;
      background: $primary;
      color: #fff;
      font-size: 1rem;
      padding: 8px 36px;
      text-align: center;
      transition: 400ms;
      font-weight: 700;

      &:hover {
        background: #826900;
      }
    }
  }
}
// ========================================== SERVICES =======================================
.services {
  width: 80%;
  margin: auto;
  margin-bottom: 140px;
  .container {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $header;

      p {
        color: $primary;
      }

      p:first-child {
        padding-bottom: 10px;
      }

      p:nth-child(2) {
        font-size: 30px;
        font-weight: 700;
        position: relative;
        margin-bottom: 70px;

        &::after {
          content: "";
          position: absolute;
          bottom: -25%;
          left: 15%;
          width: 70%;
          height: 2px;
          background: #000;
        }
      }
      .extra-title {
        font-size: 30px;
        font-family: $content;
        color: $light-header;
        margin-bottom: 70px;
      }
    }
    .icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: auto;

      svg {
        background: #efefef;
        padding: 28px;
        height: 140px;
        width: 100%;
        margin: 10px;
        cursor: pointer;
        transition: 400ms;

        &:hover {
          background: $primary;
          fill: #fff;
        }
      }
    }
    .service-btn {
      text-align: center;
      margin: 60px auto 0 auto;
      width: 100%;
      font-family: $content;

      a {
        width: 110px;
        text-decoration: none;
        background: $primary;
        color: #fff;
        font-size: 1rem;
        padding: 8px 36px;

        text-align: center;
        transition: 400ms;
        font-weight: 700;

        &:hover {
          background: #826900;
        }
      }
    }
  }
}
// ======================================== TESTIMONY =============================================
.testimony {
  width: 90%;
  margin: 0 auto 140px auto;

  .container {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $header;
      text-transform: capitalize;

      p {
        color: $primary;
      }

      p:first-child {
        padding-bottom: 10px;
      }

      p:nth-child(2) {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
      }
      .extra-title {
        font-size: 50px;
        font-family: $content;
        color: $light-header;
        margin-bottom: 100px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -25%;
          left: 15%;
          width: 70%;
          height: 2px;
          background: #000;
        }
      }
    }
    .boxes {
      font-family: $content;
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .box {
        width: 60%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image {
          margin: auto;
          height: 130px;
          width: 130px;

          img {
            width: 130px;
            height: 130px;
          }
        }

        .text {
          width: 70%;
          height: 85%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          position: relative;
          border-radius: 15px;
          color: $light-header;
          border: 2px solid $secondary;

          .header,
          .content {
            font-family: $content;
            width: 90%;
            margin-top: -3%;
          }

          .header {
            font-weight: 700;

            p:first-child {
              font-size: 20px;
              padding: 3px 0;
            }
          }
          .content p::before {
            content: '"';
            color: $primary;
          }
          .content p::after {
            content: '"';
            color: $primary;
          }
        }
      }
    }
    .box2 {
      margin-left: 40%;
    }
  }
}
// ==================================== BLOGS ================================
.blogs {
  width: 55%;
  margin: 0 auto 140px auto;
  height: 1000px;

  .container {
    width: 100%;
    position: relative;
    height: 100%;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $header;
      text-transform: capitalize;

      p {
        color: $primary;
      }

      p:first-child {
        padding-bottom: 10px;
      }

      p:nth-child(2) {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
      }
      .extra-title {
        font-size: 50px;
        font-family: $content;
        color: $light-header;
        position: relative;
        margin-bottom: 100px;

        &::after {
          content: "";
          position: absolute;
          bottom: -25%;
          left: 15%;
          width: 70%;
          height: 2px;
          background: #000;
        }
      }
    }

    .slider-blog {
      width: 100%;
      font-family: $content;
      position: relative;

      .blogBox {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f8f8f8;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: 400ms;

        .blog-img {
          width: 100%;
          height: auto;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
        .description {
          padding: 6px 0;
          width: 100%;
          text-align: center;

          span {
            font-size: 1rem;
            color: #000;
            opacity: 0.5;
          }
          span:last-child {
            font-weight: 700;
            padding-left: 10%;
          }
        }
        .blog-title {
          padding: 5% 0 6% 0;
          text-align: center;

          p {
            font-weight: 700;
            font-size: 24px;
            text-transform: capitalize;
          }
        }
        .blog-btn {
          text-align: center;
          margin-bottom: 7%;
          font-family: $content;

          a {
            width: 110px;
            text-decoration: none;
            background: $primary;
            color: #fff;
            font-size: 1rem;
            padding: 8px 36px;
            text-align: center;
            transition: 400ms;
            font-weight: 700;

            &:hover {
              background: #826900;
            }
          }
        }
      }
      .up {
        opacity: 1;
        z-index: 3;
      }
    }
    .trackers {
      z-index: 11;
      color: white;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;

      // width: 30px;
      // height: 30px;

      #prevBtn,
      #nextBtn {
        position: absolute;
        top: 50%;

        cursor: pointer;
        opacity: 0.6;
        width: 30px;
        height: 30px;
        z-index: 11;
        color: $secondary;

        &:hover {
          opacity: 1;
        }
      }
      #prevBtn {
        //top: 50%;
        left: -10%;
      }
      #nextBtn {
        //top: 50%;
        right: -10%;
      }
    }
  }
}
// ====================================== CONTACT ===========================================
.contact {
  width: 100%;
  height: 600px;

  .container {
    font-family: $content;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $header;
      text-transform: capitalize;

      p {
        color: $primary;
      }

      p:first-child {
        padding-bottom: 10px;
      }

      p:nth-child(2) {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
      }
      .extra-title {
        font-size: 50px;
        font-family: $content;
        color: $light-header;
        position: relative;
        margin-bottom: 100px;

        &::after {
          content: "";
          position: absolute;
          bottom: -25%;
          left: 15%;
          width: 70%;
          height: 2px;
          background: #000;
        }
      }
    }
    .left-box,
    .right-box {
      float: left;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      height: 600px;
    }
    .left-box {
      width: 45%;
      background-image: url(../images/contact.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 0;
      padding: 5% 8%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.85;
        z-index: 1;
      }
      p,
      .logos,
      .contact-btn {
        z-index: 2;
      }
      p {
        color: #fff;
      }
      .header {
        font-family: $content;
        font-weight: 700;
        font-size: 1.2rem;
      }
      .logos img {
        width: 35px;
        height: 35px;
        margin-right: 7%;
      }
      .contact-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 40px;
        background: $primary;
        transition: 400ms;

        a {
          width: 100%;
          text-decoration: none;
          color: #fff;
          font-size: 1.4rem;
          text-align: center;
          font-weight: 700;
        }
        &:hover {
          background: #826900;
        }
      }
    }
    .right-box {
      width: 54.5%;
      background: #fff;
      color: #fff;
      padding: 5% 8%;
      margin-left: 5px;
      border: 2px solid $light-header;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        img {
          width: 26px;
          height: 26px;
          margin: 0 3% 0 0;
        }
        span {
          position: relative;
          width: 100%;
          input {
            background: transparent;
            outline: none;
            border: none;
            width: 100%;
            color: $light-header;

            &::placeholder {
              color: $light-header;
              opacity: 0.8;
              font-family: $content;
            }
            &:focus::placeholder {
              opacity: 1;
            }
          }
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0%;
            background: $light-header;
            width: 100%;
            height: 2px;
          }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
          border: none;
          -webkit-text-fill-color: $light-header;
          box-shadow: 0 0 0 30px #f4f4f4 inset !important;
        }
        input[type="text"] {
          font-size: 1.1rem;
          font-family: $content;
        }
        .name,
        .phone,
        .email {
          display: flex;
          margin-bottom: 10%;
        }
        .message {
          display: flex;
          flex-direction: column;

          .label {
            display: flex;
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 1%;
          }

          textarea {
            background: none;
            outline: none;
            border: 2px solid $light-header;
            height: 150px;
            padding: 10px;
            color: $light-header;
            font-family: $content;
            font-size: 1rem;
            resize: none;

            &:focus {
              background: $light-header;
              color: #000;
            }
          }
        }
      }
      .contact-submit {
        button {
          width: 100%;
          height: 40px;
          border: none;
          outline: none;
          background: #fff;
          font-family: $content;
          font-size: 1.4rem;
          color: $primary;
          font-weight: 700;
          cursor: pointer;
          transition: 400ms;
        }
      }
    }
  }
}
// ============================= click-to-top ====================================
.click-to-top {
  display: none;
  opacity: 0;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 95%;
  left: 95%;
  transform: translate(-95%, -95%);
  background: #fff;
  border: 2px solid $primary;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  transition: 400ms all;
  scroll-behavior: smooth;

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    i {
      font-size: 1.3rem;
      color: $primary;
    }
  }
}
// ==================================================== Media Queries =============================================================
// Phone Size
@media (max-width: 480px) {
  .header {
    overflow: hidden;
    .for-ph {
      z-index: 1;
      display: flex;
      .toggle-bar {
        margin-top: 7px;
        z-index: 102;
      }
      .open span {
        background: #fff;
      }
    }
    .menu-bar {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: #a38b2d;
      transform: translateX(100%);
      display: none;
      position: absolute;
      top: 0;
      z-index: -1;
      pointer-events: none;
      transition: all 500ms;

      a {
        color: #fff;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          content: "";
          display: none;
        }
        &:hover:after {
          content: "";
          display: none;
        }
      }
    }
    .toggle-active {
      transform: translateX(0%);
      pointer-events: all;
      z-index: 101;
      display: flex;
    }
  }
  .header-content {
    .slider .slide .text {
      p:first-child {
        font-size: 3.5rem;
      }
      p:last-child {
        font-size: 1.35rem;
      }
    }
    .check-in-container {
      display: none;
      opacity: 0;
    }
    .book-btn-for-small-size {
      z-index: 100;
      display: flex;
      pointer-events: all;
      width: 70%;
    }
  }
  .welcome {
    height: auto;
    .container {
      .text-container {
        width: 100%;
        padding: 40px;
        .title {
          text-align: center;
          p:first-child {
            font-size: 14px;
          }
          p:last-child {
            font-size: 1.35rem;
            margin-bottom: 40px;
          }
        }

        .content {
          width: 100%;

          p {
            font-size: 14px;
            line-height: 2.4;
          }
        }
      }
      .photo {
        position: static;
        width: 90%;
        margin: 40px auto 0 auto;

        img {
          margin-top: 0px;
          height: 35vh;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }
  .rooms {
    .container {
      .title {
        p:first-child {
          font-size: 14px;
        }
        p:last-child {
          font-size: 1.35rem;
        }
      }
      .place-holders {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        .room {
          .hover {
            p:first-child,
            p:nth-child(2) {
              font-size: 1.25rem;
            }

            a {
              font-size: 14px;
            }
          }
        }
      }
    }
    .view-all-rooms a {
      font-size: 14px;
    }
  }
  .services .container {
    .title {
      .extra-title {
        text-align: center;
        font-size: 1.7rem;
        margin-bottom: 45px;
      }
      p:first-child {
        font-size: 14px;
      }
      p:nth-child(2) {
        font-size: 1.35rem;
        margin-bottom: 45px;
      }
    }

    .icons {
      flex-direction: column;
      width: 70%;
      margin: auto;
      svg {
        padding: 34px;
      }
    }
    .service-btn a {
      font-size: 14px;
    }
  }
  .testimony .container {
    .title {
      .extra-title {
        font-size: 1.7rem;
      }
      p:nth-child(2) {
        font-size: 1.35rem;
      }
      p:first-child {
        font-size: 14px;
      }
    }
    .boxes {
      height: 630px;
      .box {
        width: 100%;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 70px;
            height: 70px;
          }
        }
        .text {
          height: 70%;
          .header {
            p:first-child {
              font-size: 14px;
              padding: 3px 0;
            }
            p:last-child {
              font-size: 12px;
            }
          }
          .content {
            font-size: 12px;
          }
        }
      }
    }
    .boxes .box2 {
      margin-left: 0%;
      flex-direction: row-reverse;
    }
  }
  .blogs {
    width: 80%;
    height: 600px;
    .container {
      .title {
        .extra-title {
          font-size: 1.7rem;
        }
        p:nth-child(2) {
          font-size: 1.35rem;
        }
        p:first-child {
          font-size: 14px;
        }
      }
      .slider-blog {
        width: 90%;
        margin: auto;
        .blogBox {
          .description {
            span {
              font-size: 12px;
              display: block;
              text-align: center;
            }
            span:last-child {
              padding: 0;
            }
          }
          .blog-title {
            width: 90%;
            text-align: center;
            margin: 5% 0 7% 0;

            p {
              font-size: 16px;
            }
          }
          .blog-btn {
            margin: 0 0 14% 0;

            a {
              font-size: 14px;
            }
          }
        }
      }
      .trackers {
        height: 20px;
        #prevBtn,
        #nextBtn {
          top: 65%;
          font-size: 20px;
        }
      }
    }
  }
  .contact .container {
    .title {
      .extra-title {
        font-size: 1.7rem;
      }
      p:nth-child(2) {
        font-size: 1.35rem;
      }
      p:first-child {
        font-size: 14px;
      }
    }
    .left-box,
    .right-box {
      padding: 10% 8%;
      float: none;
      width: 100%;
    }
    .left-box {
      p,
      .header {
        text-align: center;
        font-size: 14px;
      }
      .contact-btn a {
        font-size: 1.1rem;
      }
      .logos {
        text-align: center;
        img {
          width: 26px;
          height: 26px;
        }
      }
    }
    .right-box .contact-submit button {
      font-size: 1.1rem;
    }
    .right-box form {
      img {
        width: 23px;
        height: 23px;
      }
      input::placeholder {
        font-size: 14px;
        font-family: $content;
      }
      input[type="text"] {
        font-size: 14px;
        font-family: $content;
      }
      textarea {
        font-size: 14px;
      }
    }
  }
}
// Small Tablet Size
@media (min-width: 481px) and (max-width: 767px) {
  .header .menu-bar {
    a {
      font-size: 14px;
    }
    .logo {
      font-size: 1.3rem;
    }
  }
  .header-content {
    .slider .slide .text {
      p:first-child {
        font-size: 4rem;
      }
      p:last-child {
        font-size: 1.5rem;
      }
    }
    .check-in-container {
      display: none;
      opacity: 0;
    }
    .book-btn-for-small-size {
      z-index: 100;
      display: flex;
      pointer-events: all;

      width: 60%;
    }
  }
  .welcome {
    // margin: 140px auto 0px auto;
    .container {
      .text-container {
        width: 100%;
        padding: 60px;
        .title {
          text-align: center;

          p:last-child {
            font-size: 26px;
            margin-bottom: 40px;
          }
        }

        .content {
          width: 100%;

          p {
            font-size: 18px;
            line-height: 2.4;
          }
        }
      }
      .photo {
        width: 80%;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);

        img {
          margin-top: 10px;
          height: 35vh;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }
  .rooms {
    .container {
      .title {
        p:last-child {
          font-size: 26px;
        }
      }
      .place-holders {
        width: 75%;
        margin: auto;
        grid-template-columns: 1fr;
        .room {
          .hover p:first-child {
            font-size: 26px;
          }
        }
      }
    }
  }
  .services .container {
    .title {
      .extra-title {
        text-align: center;
        font-size: 24px;
      }

      p:nth-child(2) {
        font-size: 26px;
      }
    }

    .icons svg {
      padding: 20px;
    }
  }
  .testimony .container {
    .title {
      .extra-title {
        font-size: 2.2rem;
      }
      p:nth-child(2) {
        font-size: 26px;
      }
    }
    .boxes .box {
      width: 100%;
      .image {
        text-align: center;
        img {
          width: 100px;
          height: 100px;
        }
      }
      .text {
        .header {
          p:first-child {
            font-size: 18px;
            padding: 3px 0;
          }
          p:last-child {
            font-size: 14px;
          }
        }
        .content {
          font-size: 16px;
        }
      }
    }
    .boxes .box2 {
      margin-left: 0%;
      flex-direction: row-reverse;
    }
  }
  .blogs {
    width: 80%;
    .container {
      .title {
        .extra-title {
          font-size: 2.2rem;
        }
        p:nth-child(2) {
          font-size: 26px;
        }
      }
      .slider-blog .blogBox {
        .description {
          span {
            font-size: 14px;
          }
        }
        .blog-title {
          width: 90%;
          text-align: center;
          padding: 5% 0 7% 0;

          p {
            font-size: 18px;
          }
        }
        .blog-btn {
          margin-bottom: 8%;
        }
      }
    }
  }
  .contact .container {
    .title {
      .extra-title {
        font-size: 2.2rem;
      }
      p:nth-child(2) {
        font-size: 26px;
      }
    }
    .left-box,
    .right-box {
      padding: 10% 8%;
      float: none;
      width: 100%;
    }
    .left-box {
      p {
        text-align: center;
      }
      .header {
        font-size: 1rem;
      }
      .contact-btn a {
        font-size: 1.2rem;
      }
      .logos {
        text-align: center;
        img {
          width: 26px;
          height: 26px;
        }
      }
    }
    .right-box .contact-submit button {
      font-size: 1.2rem;
    }
    .right-box form {
      img {
        width: 23px;
        height: 23px;
      }
      input::placeholder {
        font-size: 1rem;
        font-family: $content;
      }
      input[type="text"] {
        font-size: 1rem;
        font-family: $content;
      }
    }
  }
}
// Extra Size to fix
@media (min-width: 481px) and (max-width: 679px) {
  .blogs {
    height: 700px;
    .container .trackers {
      #prevBtn,
      #nextBtn {
        position: absolute;
        top: 75%;
        transform: translateY(-75%);
      }
    }
  }
}
@media (min-width: 680px) and (max-width: 765px) {
  .welcome {
    margin: 140px auto 100px auto;
  }
  .blogs {
    height: 770px;
    .container .trackers {
      #prevBtn,
      #nextBtn {
        position: absolute;
        top: 70%;
        transform: translateY(-70%);
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 840px) {
  .blogs {
    height: 800px;
    .container .trackers {
      #prevBtn,
      #nextBtn {
        position: absolute;
        top: 65%;
        transform: translateY(-65%);
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 580px) {
  .blogs .container .trackers {
    #prevBtn,
    #nextBtn {
      position: absolute;
      top: 60%;
      transform: translateY(-60%);
    }
  }
}

// Normal Tablet Size
@media (min-width: 768px) and (max-width: 1024px) {
  .header-content {
    .slider .slide .text {
      p:first-child {
        font-size: 4.7rem;
      }
      p:last-child {
        font-size: 1.8rem;
      }
    }
    .check-in-container {
      .check-in,
      .check-out,
      .guest-numbers {
        padding: 0;
        text-align: center;
      }
      input {
        width: 80%;
      }
    }
  }
  .welcome .container {
    .text-container {
      width: 100%;
      padding: 60px;

      .title p:last-child {
        margin-bottom: 40px;
      }
      .content {
        width: 100%;

        p {
          line-height: 2.7;
        }
      }
    }
    .photo {
      width: 80%;
      top: 90%;
      left: 50%;
      transform: translateX(-50%);

      img {
        height: 60vh;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  .rooms .container .place-holders {
    grid-template-columns: 1fr 1fr;
    .room {
      .hover p:first-child {
        font-size: 26px;
      }
    }
  }
  .services .container {
    .title .extra-title {
      text-align: center;
    }
  }
  .testimony .container {
    .title .extra-title {
      font-size: 2.8rem;
    }
    .boxes .box {
      width: 100%;
    }
    .boxes .box2 {
      margin-left: 0%;
      flex-direction: row-reverse;
    }
  }
  .blogs {
    width: 70%;
    .container {
      .title .extra-title {
        font-size: 2.8rem;
      }
      .slider-blog .blogBox .blog-title {
        text-align: center;
      }
      .slider-blog .blogBox .blog-title p {
        font-size: 20px;
      }
    }
  }
  .contact .container {
    .title .extra-title {
      font-size: 2.8rem;
    }
    .left-box,
    .right-box {
      padding: 8%;
    }
    .left-box .header {
      font-size: 1.1rem;
    }
    .right-box form {
      img {
        width: 23px;
        height: 23px;
      }
      input::placeholder {
        font-size: 1rem;
        font-family: $content;
      }
      input[type="text"] {
        font-size: 1rem;
        font-family: $content;
      }
    }
  }
}
