.header-bg-blogs {
  height: 400px;
  background-image: url(../assets/blogs_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;

  .container {
    width: 100%;
    height: 100%;

    .bg-title {
      width: 70%;
      margin: auto;
      font-family: $extra;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 70px;
      color: #fff;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        z-index: 3;
      }
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
