// Small Tablet Size
@media (min-width: 481px) and (max-width: 767px) {
  .header .menu-bar {
    a {
      font-size: 14px;
    }
    .logo {
      font-size: 1.3rem;
    }
  }
  .header-bg-blogs .container .bg-title {
    font-size: 60px;
  }
  :root {
    .recent-blogs {
      height: 1180px;
    }
    .banners {
      .info {
        p:first-child {
          font-size: 1.8rem;
        }
        p:nth-child(2n) {
          font-size: 1rem;
        }
        p:last-child {
          font-size: 14px;
        }
      }
    }
  }
  .recent-blogs .container .banners .item6 .info p:first-child {
    font-size: 2.5rem;
  }
  .popular-blogs .container .banners {
    .item4 .info p:first-child {
      font-size: 4rem;
    }
    .item6 .info p:first-child {
      font-size: 2rem;
    }
  }
}
// Normal Tablet Size
@media (min-width: 768px) and (max-width: 1024px) {
  .header-bg-blogs .container .bg-title {
    width: 80%;
  }
  :root {
    .recent-blogs {
      height: 1180px;
    }
    .banners {
      .info {
        p:first-child {
          font-size: 1.8rem;
        }
        p:nth-child(2n) {
          font-size: 1rem;
        }
        p:last-child {
          font-size: 14px;
        }
      }
    }
  }
  .recent-blogs .container .banners .item6 .info p:first-child {
    font-size: 2.5rem;
  }
  .popular-blogs .container .banners {
    .item4 .info p:first-child {
      font-size: 4rem;
    }
    .item6 .info p:first-child {
      font-size: 2rem;
    }
  }
}

@media (min-width: 481px) and (max-width: 707px) {
  .recent-blogs .container .banners .item4,
  .recent-blogs .container .banners .item5 {
    .info {
      p:first-child {
        font-size: 1.5rem;
      }
      p:nth-child(2n) {
        font-size: 14px;
      }
      p:last-child {
        font-size: 12px;
      }
    }

    .read-now a {
      font-size: 12px;
      padding: 10px 8px;
    }
  }
  .popular-blogs .container .banners .item4 .info p:first-child {
    font-size: 3rem;
  }
}

@media (min-width: 481px) and (max-width: 530px) {
  :root .banners .read-now a {
    padding: 10px 8px;
    font-size: 12px;
  }
}
// Phone Size
@media (max-width: 480px) {
  .header {
    overflow: hidden;
    .for-ph {
      z-index: 1;
      display: flex;
      .toggle-bar {
        margin-top: 7px;
        z-index: 14;
      }
      .open span {
        background: #fff;
      }
    }
    .menu-bar {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: #a38b2d;
      transform: translateX(100%);
      display: none;
      position: absolute;
      top: 0;
      z-index: -1;
      pointer-events: none;
      transition: all 500ms;

      a {
        color: #fff;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          content: "";
          display: none;
        }
        &:hover:after {
          content: "";
          display: none;
        }
      }
    }
    .toggle-active {
      transform: translateX(0%);
      pointer-events: all;
      z-index: 13;
      display: flex;
    }
  }
  .header-bg-blogs .container .bg-title {
    font-size: 50px;
  }
  .recent-blogs {
    height: auto;
    .container .banners {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6";

      .info {
        text-align: center;
        p:first-child {
          font-size: 2rem;
        }
        p:nth-child(2n) {
          font-size: 14px;
        }
        p:last-child {
          font-size: 12px;
        }
      }
      .read-now {
        margin-top: 14px !important;
        align-self: center;
      }
      .item1 {
        grid-area: content1;
      }
      .item2 {
        grid-area: content2;
      }
      .item3 {
        grid-area: content3;
      }
      .item4 {
        grid-area: content4;
      }
      .item5 {
        grid-area: content5;
      }
      .item6 {
        grid-area: content6;
        .info p:first-child {
          font-size: 2rem;
        }
      }
    }
  }
  .popular-blogs {
    height: auto;
    .container .banners {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6";
      .info {
        text-align: center;
        p:first-child {
          font-size: 2rem;
        }
        p:nth-child(2n) {
          font-size: 14px;
        }
        p:last-child {
          font-size: 12px;
        }
      }
      .read-now {
        margin-top: 14px !important;
        align-self: center;
      }
      .item1 {
        grid-area: content1;
      }
      .item2 {
        grid-area: content2;
      }
      .item3 {
        grid-area: content3;
      }
      .item4 {
        grid-area: content4;
      }
      .item5 {
        grid-area: content5;
      }
      .item6 {
        height: 100% !important;
        grid-area: content6;
        .info {
          width: 100%;
          p:first-child {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  .read-more-btn {
    width: 100%;
    margin: 50px auto;
    a {
      font-size: 12px;
    }
  }
  .footer {
    height: 200px;
    .container {
      height: 200px;
      width: 90%;
      flex-direction: column;
      justify-content: space-around;

      .phone {
        p:first-child {
          font-size: 12px;
        }
        p:last-child {
          font-size: 10px;
        }
      }
      .social-media {
        p {
          font-size: 12px;
        }
        .icons a i {
          font-size: 12px;
        }
      }
      .copyright p {
        font-size: 14px;
      }
    }
  }
}
