@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Playfair+Display:400,700|Poppins:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #a38b2d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b69100;
}

.header {
  width: 100%;
  font-family: "Playfair Display", serif;
}

.header .for-ph {
  width: 100%;
  margin: auto;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  display: none;
}

.header .for-ph p {
  font-size: 1.4rem;
}

.header .for-ph p a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
}

.header .for-ph .toggle-bar {
  width: 28px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.header .for-ph .toggle-bar span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 50px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header .for-ph .toggle-bar span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header .for-ph .toggle-bar span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header .for-ph .toggle-bar span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header .for-ph .open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -3px;
  left: 3px;
}

.header .for-ph .open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.header .for-ph .open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 17px;
  left: 3px;
}

.header .menu-bar {
  width: 80%;
  height: 75px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-bar a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  position: relative;
}

.header .menu-bar a::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -10%;
  width: 120%;
  margin: auto;
  height: 40%;
  background: none;
  z-index: -1;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  opacity: 0.7;
}

.header .menu-bar a:hover:after {
  content: "";
  top: 0%;
  height: 100%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  background: #b69100;
  opacity: 1;
}

.header .menu-bar a:hover {
  color: #fff;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.header .menu-bar .active {
  position: relative;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.header .menu-bar .active::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -10%;
  width: 120%;
  margin: auto;
  height: 40%;
  background: #b69100;
  z-index: -1;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.header .menu-bar .active:hover:after {
  content: "";
  position: absolute;
  top: 0%;
  height: 100%;
}

.header .menu-bar .active:hover {
  color: #fff;
}

.header .menu-bar .logo {
  margin-top: -7px;
  font-size: 2rem;
}

.header-content {
  width: 100%;
  height: 800px;
  position: relative;
}

.header-content .slider {
  width: 100%;
  height: 800px;
  position: relative;
}

.header-content .slider .slide {
  position: absolute;
  width: 100%;
  height: 800px;
  opacity: 0;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.header-content .slider .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.header-content .slider .slide img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-content .slider .slide .text {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 10%;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.header-content .slider .slide .text p {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #fff;
  padding: 20px 0;
}

.header-content .slider .slide .text p:first-child {
  font-size: 5rem;
}

.header-content .slider .slide .text p:last-child {
  font-size: 2rem;
}

.header-content .slider .current {
  opacity: 1;
}

.header-content .check-in-container {
  position: absolute;
  top: 80%;
  left: 5%;
  border-radius: 10px;
  width: 90%;
  height: 90px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-family: "Nunito", sans-serif;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header-content .check-in-container p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 7px;
}

.header-content .check-in-container input {
  border: 1px solid #b69100;
  outline: none;
  width: 100%;
  height: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}

.header-content .check-in-container input[type="date"]::-webkit-inner-spin-button,
.header-content .check-in-container input[type="date"]::-webkit-calendar-picker-indicator {
  color: #b69100;
}

.header-content .check-in-container input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.header-content .check-in-container .check-in,
.header-content .check-in-container .check-out,
.header-content .check-in-container .guest-numbers {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-top: -15px;
  padding: 0 4%;
}

.header-content .check-in-container .guest-numbers p {
  font-size: 1.1rem;
}

.header-content .check-in-container .bookBtn {
  width: 30%;
  height: 100%;
  background: #b69100;
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  cursor: pointer;
}

.header-content .check-in-container .bookBtn .btn {
  outline: none;
  border: none;
  color: white;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

.header-content .check-in-container .bookBtn:hover {
  background: #826900;
}

.header-content .book-btn-for-small-size {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-transition: 400ms;
  transition: 400ms;
  z-index: -100;
  display: none;
  pointer-events: none;
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  font-family: "Poppins", sans-serif;
}

.header-content .book-btn-for-small-size a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.header-content .book-btn-for-small-size:hover {
  background: #fff;
  border: none;
}

.header-content .book-btn-for-small-size:hover a {
  color: #404040;
}

.welcome {
  width: 90%;
  font-family: "Playfair Display", serif;
  margin: 140px auto 140px auto;
  height: 800px;
}

.welcome .container {
  position: relative;
}

.welcome .container .text-container {
  width: 65%;
  border: 2px solid #b69100;
  height: auto;
  padding: 60px;
}

.welcome .container .text-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .container .text-container .title p {
  color: #b69100;
}

.welcome .container .text-container .title p:first-child {
  padding-bottom: 10px;
}

.welcome .container .text-container .title p:last-child {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
}

.welcome .container .text-container .title p:last-child::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #404040;
}

.welcome .container .text-container .content {
  width: 75%;
  margin: auto;
  font-family: "Nunito", sans-serif;
  color: #404040;
  font-size: 20px;
  text-align: justify;
}

.welcome .container .text-container .content p {
  line-height: 3;
}

.welcome .container .photo {
  position: absolute;
  top: 35%;
  left: 55.5%;
}

.welcome .container .photo img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}

.rooms {
  width: 100%;
  font-family: "Nunito", sans-serif;
  margin-bottom: 140px;
}

.rooms .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
}

.rooms .container .title p {
  color: #b69100;
}

.rooms .container .title p:first-child {
  padding-bottom: 10px;
}

.rooms .container .title p:last-child {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
}

.rooms .container .title p:last-child::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #404040;
}

.rooms .place-holders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.rooms .place-holders .room {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.rooms .place-holders .room .room-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rooms .place-holders .room .hover {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  z-index: 2;
  -webkit-transition: opacity 700ms ease-in-out, -webkit-transform 700ms ease-in, -webkit-transform 0ms ease-out;
  transition: opacity 700ms ease-in-out, -webkit-transform 700ms ease-in, -webkit-transform 0ms ease-out;
  transition: opacity 700ms ease-in-out, transform 700ms ease-in, transform 0ms ease-out;
  transition: opacity 700ms ease-in-out, transform 700ms ease-in, transform 0ms ease-out, -webkit-transform 700ms ease-in, -webkit-transform 0ms ease-out;
  opacity: 0;
  -webkit-transition-delay: all 300ms;
          transition-delay: all 300ms;
}

.rooms .place-holders .room .hover p:first-child {
  font-weight: 700;
  font-size: 28px;
}

.rooms .place-holders .room .hover p:nth-child(2) {
  font-size: 1.5rem;
}

.rooms .place-holders .room .hover p:nth-child(2) span {
  color: #b69100;
}

.rooms .place-holders .room .hover img {
  width: 120px;
}

.rooms .place-holders .room .hover a {
  width: 110px;
  text-decoration: none;
  background: transparent;
  color: #404040;
  font-size: 1rem;
  padding: 7px;
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
  border: 1px solid #b69100;
}

.rooms .place-holders .room .hover a:hover {
  background: #b69100;
  color: #fff;
  border: 1px solid #fff;
}

.rooms .place-holders .room::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 35% 50%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 35% 50%);
  z-index: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 0;
}

.rooms .place-holders .room:hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.rooms .place-holders .room:hover .hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.rooms .view-all-rooms {
  text-align: center;
  margin: 60px auto 0 auto;
  width: 100%;
}

.rooms .view-all-rooms a {
  width: 110px;
  text-decoration: none;
  background: #b69100;
  color: #fff;
  font-size: 1rem;
  padding: 8px 36px;
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-weight: 700;
}

.rooms .view-all-rooms a:hover {
  background: #826900;
}

.services {
  width: 80%;
  margin: auto;
  margin-bottom: 140px;
}

.services .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
}

.services .container .title p {
  color: #b69100;
}

.services .container .title p:first-child {
  padding-bottom: 10px;
}

.services .container .title p:nth-child(2) {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
}

.services .container .title p:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #404040;
}

.services .container .title .extra-title {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: #404040;
  margin-bottom: 70px;
}

.services .container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.services .container .icons svg {
  background: #efefef;
  padding: 28px;
  height: 140px;
  width: 100%;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.services .container .icons svg:hover {
  background: #b69100;
  fill: #fff;
}

.services .container .service-btn {
  text-align: center;
  margin: 60px auto 0 auto;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.services .container .service-btn a {
  width: 110px;
  text-decoration: none;
  background: #b69100;
  color: #fff;
  font-size: 1rem;
  padding: 8px 36px;
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-weight: 700;
}

.services .container .service-btn a:hover {
  background: #826900;
}

.testimony {
  width: 90%;
  margin: 0 auto 140px auto;
}

.testimony .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}

.testimony .container .title p {
  color: #b69100;
}

.testimony .container .title p:first-child {
  padding-bottom: 10px;
}

.testimony .container .title p:nth-child(2) {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.testimony .container .title .extra-title {
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  color: #404040;
  margin-bottom: 100px;
  position: relative;
}

.testimony .container .title .extra-title::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #404040;
}

.testimony .container .boxes {
  font-family: "Nunito", sans-serif;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimony .container .boxes .box {
  width: 60%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimony .container .boxes .box .image {
  margin: auto;
  height: 130px;
  width: 130px;
}

.testimony .container .boxes .box .image img {
  width: 130px;
  height: 130px;
}

.testimony .container .boxes .box .text {
  width: 70%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 15px;
  color: #404040;
  border: 2px solid #a38b2d;
}

.testimony .container .boxes .box .text .header,
.testimony .container .boxes .box .text .content {
  font-family: "Nunito", sans-serif;
  width: 90%;
  margin-top: -3%;
}

.testimony .container .boxes .box .text .header {
  font-weight: 700;
}

.testimony .container .boxes .box .text .header p:first-child {
  font-size: 20px;
  padding: 3px 0;
}

.testimony .container .boxes .box .text .content p::before {
  content: '"';
  color: #b69100;
}

.testimony .container .boxes .box .text .content p::after {
  content: '"';
  color: #b69100;
}

.testimony .container .box2 {
  margin-left: 40%;
}

.blogs {
  width: 55%;
  margin: 0 auto 140px auto;
  height: 1000px;
}

.blogs .container {
  width: 100%;
  position: relative;
  height: 100%;
}

.blogs .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}

.blogs .container .title p {
  color: #b69100;
}

.blogs .container .title p:first-child {
  padding-bottom: 10px;
}

.blogs .container .title p:nth-child(2) {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.blogs .container .title .extra-title {
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  color: #404040;
  position: relative;
  margin-bottom: 100px;
}

.blogs .container .title .extra-title::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #404040;
}

.blogs .container .slider-blog {
  width: 100%;
  font-family: "Nunito", sans-serif;
  position: relative;
}

.blogs .container .slider-blog .blogBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.blogs .container .slider-blog .blogBox .blog-img {
  width: 100%;
  height: auto;
}

.blogs .container .slider-blog .blogBox .blog-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .container .slider-blog .blogBox .description {
  padding: 6px 0;
  width: 100%;
  text-align: center;
}

.blogs .container .slider-blog .blogBox .description span {
  font-size: 1rem;
  color: #000;
  opacity: 0.5;
}

.blogs .container .slider-blog .blogBox .description span:last-child {
  font-weight: 700;
  padding-left: 10%;
}

.blogs .container .slider-blog .blogBox .blog-title {
  padding: 5% 0 6% 0;
  text-align: center;
}

.blogs .container .slider-blog .blogBox .blog-title p {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

.blogs .container .slider-blog .blogBox .blog-btn {
  text-align: center;
  margin-bottom: 7%;
  font-family: "Nunito", sans-serif;
}

.blogs .container .slider-blog .blogBox .blog-btn a {
  width: 110px;
  text-decoration: none;
  background: #b69100;
  color: #fff;
  font-size: 1rem;
  padding: 8px 36px;
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-weight: 700;
}

.blogs .container .slider-blog .blogBox .blog-btn a:hover {
  background: #826900;
}

.blogs .container .slider-blog .up {
  opacity: 1;
  z-index: 3;
}

.blogs .container .trackers {
  z-index: 11;
  color: white;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .container .trackers #prevBtn,
.blogs .container .trackers #nextBtn {
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: 0.6;
  width: 30px;
  height: 30px;
  z-index: 11;
  color: #a38b2d;
}

.blogs .container .trackers #prevBtn:hover,
.blogs .container .trackers #nextBtn:hover {
  opacity: 1;
}

.blogs .container .trackers #prevBtn {
  left: -10%;
}

.blogs .container .trackers #nextBtn {
  right: -10%;
}

.contact {
  width: 100%;
  height: 600px;
}

.contact .container {
  font-family: "Nunito", sans-serif;
}

.contact .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}

.contact .container .title p {
  color: #b69100;
}

.contact .container .title p:first-child {
  padding-bottom: 10px;
}

.contact .container .title p:nth-child(2) {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.contact .container .title .extra-title {
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  color: #404040;
  position: relative;
  margin-bottom: 100px;
}

.contact .container .title .extra-title::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #404040;
}

.contact .container .left-box,
.contact .container .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.contact .container .left-box {
  height: 500px;
  width: 100%;
  background-image: url(../assets/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  padding: 5% 8%;
  text-align: center;
}

.contact .container .left-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 1;
}

.contact .container .left-box p,
.contact .container .left-box .contact-btn {
  z-index: 2;
}

.contact .container .left-box p:nth-child(2n),
.contact .container .left-box p:nth-child(4n),
.contact .container .left-box p:nth-child(6n) {
  color: #e2d399;
}

.contact .container .left-box .header {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.contact .container .left-box .contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
  height: 40px;
  background: #b69100;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.contact .container .left-box .contact-btn a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
}

.contact .container .left-box .contact-btn:hover {
  background: #826900;
}

.contact .container .right-box {
  height: 250px;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact .container .right-box textarea:-webkit-autofill,
.contact .container .right-box textarea:-webkit-autofill:hover,
.contact .container .right-box textarea:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #404040;
  -webkit-box-shadow: 0 0 0 30px #f4f4f4 inset !important;
          box-shadow: 0 0 0 30px #f4f4f4 inset !important;
}

.contact .container .right-box .message p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.contact .container .right-box .message .text-area {
  position: relative;
}

.contact .container .right-box .message .text-area textarea {
  background: #fff;
  outline: none;
  height: 150px;
  padding: 10px 70px 10px 10px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  resize: none;
  width: 100%;
}

.contact .container .right-box .message .text-area textarea:focus {
  background: #fff;
  color: #404040;
}

.contact .container .right-box .message .text-area .icon-for-textarea {
  position: absolute;
  top: 0%;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  left: calc(100% - 60px);
  height: calc(100% - 5.6px);
  background: #c4c4c4;
  cursor: pointer;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.contact .container .right-box .message .text-area .icon-for-textarea:hover {
  opacity: 1;
}

.contact .container .right-box .message .text-area .icon-for-textarea img {
  width: 34px;
  height: 34px;
}

.contact .container .right-box .news-letter {
  width: 20%;
}

.contact .container .right-box .news-letter p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contact .container .right-box .news-letter .email-input {
  position: relative;
}

.contact .container .right-box .news-letter .email-input input {
  width: 100%;
  height: 30px;
  padding: 0 60px 0 10px;
  font-family: "Nunito", sans-serif;
}

.contact .container .right-box .news-letter .email-input input[type="text"] {
  font-size: 1rem;
}

.contact .container .right-box .news-letter .email-input .icon-for-email-input {
  position: absolute;
  top: 0;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  left: calc(100% - 50px);
  background: #c4c4c4;
  opacity: 0.7;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  cursor: pointer;
}

.contact .container .right-box .news-letter .email-input .icon-for-email-input:hover {
  opacity: 1;
}

.contact .container .right-box .news-letter .email-input .icon-for-email-input img {
  width: 20px;
  height: 20px;
}

.contact .container .right-box .more-infos p {
  font-weight: 700;
}

.contact .container .right-box .more-infos .infos {
  padding: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact .container .right-box .more-infos .infos a {
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
}

.contact .container .right-box .more-infos .logos {
  z-index: 2;
}

.contact .container .right-box .more-infos .logos img {
  margin-right: 7%;
}

.contact .container .right-box .copyright {
  width: auto;
  position: absolute;
  top: 85%;
  right: 10%;
}

.contact .container .right-box .copyright p {
  font-size: 14px;
  opacity: 0.7;
}

.click-to-top {
  pointer-events: none;
  opacity: 0;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 95%;
  left: 95%;
  -webkit-transform: translate(-95%, -95%);
          transform: translate(-95%, -95%);
  background: #fff;
  border: 2px solid #b69100;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.click-to-top .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.click-to-top .arrow i {
  font-size: 1.3rem;
  color: #b69100;
}

.btn-active {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 480px) {
  .header {
    overflow: hidden;
  }
  .header .for-ph {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .for-ph .toggle-bar {
    margin-top: 7px;
    z-index: 102;
  }
  .header .for-ph .open span {
    background: #fff;
  }
  .header .menu-bar {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: #a38b2d;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    display: none;
    position: absolute;
    top: 0;
    z-index: -1;
    pointer-events: none;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .header .menu-bar a {
    color: #fff;
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu-bar a:after {
    content: "";
    display: none;
  }
  .header .menu-bar a:hover:after {
    content: "";
    display: none;
  }
  .header .toggle-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    pointer-events: all;
    z-index: 101;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-content .slider .slide .text p:first-child {
    font-size: 3.5rem;
  }
  .header-content .slider .slide .text p:last-child {
    font-size: 1.35rem;
  }
  .header-content .check-in-container {
    display: none;
    opacity: 0;
  }
  .header-content .book-btn-for-small-size {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: all;
    width: 70%;
  }
  .welcome {
    height: auto;
  }
  .welcome .container .text-container {
    width: 100%;
    padding: 40px;
  }
  .welcome .container .text-container .title {
    text-align: center;
  }
  .welcome .container .text-container .title p:first-child {
    font-size: 14px;
  }
  .welcome .container .text-container .title p:last-child {
    font-size: 1.35rem;
    margin-bottom: 40px;
  }
  .welcome .container .text-container .content {
    width: 100%;
  }
  .welcome .container .text-container .content p {
    font-size: 14px;
    line-height: 2.4;
  }
  .welcome .container .photo {
    position: static;
    width: 90%;
    margin: 40px auto 0 auto;
  }
  .welcome .container .photo img {
    margin-top: 0px;
    height: 35vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .rooms .container .title p:first-child {
    font-size: 14px;
  }
  .rooms .container .title p:last-child {
    font-size: 1.35rem;
  }
  .rooms .container .place-holders {
    width: 90%;
    margin: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .rooms .container .place-holders .room .hover p:first-child,
  .rooms .container .place-holders .room .hover p:nth-child(2) {
    font-size: 1.25rem;
  }
  .rooms .container .place-holders .room .hover a {
    font-size: 14px;
  }
  .rooms .view-all-rooms a {
    font-size: 14px;
  }
  .services .container .title .extra-title {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 45px;
  }
  .services .container .title p:first-child {
    font-size: 14px;
  }
  .services .container .title p:nth-child(2) {
    font-size: 1.35rem;
    margin-bottom: 45px;
  }
  .services .container .icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .services .container .icons svg {
    padding: 34px;
  }
  .services .container .service-btn a {
    font-size: 14px;
  }
  .testimony .container .title .extra-title {
    font-size: 1.7rem;
  }
  .testimony .container .title p:nth-child(2) {
    font-size: 1.35rem;
  }
  .testimony .container .title p:first-child {
    font-size: 14px;
  }
  .testimony .container .boxes {
    height: 630px;
  }
  .testimony .container .boxes .box {
    width: 100%;
  }
  .testimony .container .boxes .box .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimony .container .boxes .box .image img {
    width: 70px;
    height: 70px;
  }
  .testimony .container .boxes .box .text {
    height: 70%;
  }
  .testimony .container .boxes .box .text .header p:first-child {
    font-size: 14px;
    padding: 3px 0;
  }
  .testimony .container .boxes .box .text .header p:last-child {
    font-size: 12px;
  }
  .testimony .container .boxes .box .text .content {
    font-size: 12px;
  }
  .testimony .container .boxes .box2 {
    margin-left: 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .blogs {
    width: 80%;
    height: 600px;
  }
  .blogs .container .title .extra-title {
    font-size: 1.7rem;
  }
  .blogs .container .title p:nth-child(2) {
    font-size: 1.35rem;
  }
  .blogs .container .title p:first-child {
    font-size: 14px;
  }
  .blogs .container .slider-blog {
    width: 90%;
    margin: auto;
  }
  .blogs .container .slider-blog .blogBox .description span {
    font-size: 12px;
    display: block;
    text-align: center;
  }
  .blogs .container .slider-blog .blogBox .description span:last-child {
    padding: 0;
  }
  .blogs .container .slider-blog .blogBox .blog-title {
    width: 90%;
    text-align: center;
    margin: 5% 0 7% 0;
  }
  .blogs .container .slider-blog .blogBox .blog-title p {
    font-size: 16px;
  }
  .blogs .container .slider-blog .blogBox .blog-btn {
    margin: 0 0 14% 0;
  }
  .blogs .container .slider-blog .blogBox .blog-btn a {
    font-size: 14px;
  }
  .blogs .container .trackers {
    height: 20px;
  }
  .blogs .container .trackers #prevBtn,
  .blogs .container .trackers #nextBtn {
    top: 65%;
    font-size: 20px;
  }
  .contact .container .title .extra-title {
    font-size: 1.7rem;
  }
  .contact .container .title p:nth-child(2) {
    font-size: 1.35rem;
  }
  .contact .container .title p:first-child {
    font-size: 14px;
  }
  .contact .container .left-box,
  .contact .container .right-box {
    padding: 10% 8%;
    float: none;
    width: 100%;
  }
  .contact .container .left-box p,
  .contact .container .left-box .header {
    text-align: center;
    font-size: 14px;
  }
  .contact .container .left-box .contact-btn a {
    font-size: 1.1rem;
  }
  .contact .container .left-box .logos {
    text-align: center;
  }
  .contact .container .left-box .logos img {
    width: 26px;
    height: 26px;
  }
  .contact .container .right-box .contact-submit button {
    font-size: 1.1rem;
  }
  .contact .container .right-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .contact .container .right-box .message p {
    font-size: 1rem;
  }
  .contact .container .right-box .message .text-area .icon-for-textarea img {
    width: 25px;
    height: 25px;
  }
  .contact .container .right-box .message .text-area textarea {
    font-size: 14px;
    height: 120px;
  }
  .contact .container .right-box .message,
  .contact .container .right-box .news-letter,
  .contact .container .right-box .more-infos {
    width: 100%;
    padding-right: 10px;
  }
  .contact .container .right-box .news-letter p {
    font-size: 1rem;
  }
  .contact .container .right-box .news-letter .email-input input[type="text"] {
    font-size: 14px;
  }
  .contact .container .right-box .more-infos p {
    text-align: center;
  }
  .contact .container .right-box .more-infos .logos {
    text-align: center;
  }
  .contact .container .right-box .more-infos .logos img {
    width: 20px;
    height: 20px;
  }
  .contact .container .right-box .more-infos .infos {
    place-items: center;
  }
  .contact .container .right-box .more-infos .infos a {
    font-size: 14px;
  }
  .contact .container .right-box .copyright {
    position: static;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header .menu-bar a {
    font-size: 14px;
  }
  .header .menu-bar .logo {
    font-size: 1.3rem;
  }
  .header-content .slider .slide .text p:first-child {
    font-size: 4rem;
  }
  .header-content .slider .slide .text p:last-child {
    font-size: 1.5rem;
  }
  .header-content .check-in-container {
    display: none;
    opacity: 0;
  }
  .header-content .book-btn-for-small-size {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: all;
    width: 60%;
  }
  .welcome .container .text-container {
    width: 100%;
    padding: 60px;
  }
  .welcome .container .text-container .title {
    text-align: center;
  }
  .welcome .container .text-container .title p:last-child {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .welcome .container .text-container .content {
    width: 100%;
  }
  .welcome .container .text-container .content p {
    font-size: 18px;
    line-height: 2.4;
  }
  .welcome .container .photo {
    width: 80%;
    top: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .welcome .container .photo img {
    margin-top: 10px;
    height: 35vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .rooms .container .title p:last-child {
    font-size: 26px;
  }
  .rooms .container .place-holders {
    width: 75%;
    margin: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .rooms .container .place-holders .room .hover p:first-child {
    font-size: 26px;
  }
  .services .container .title .extra-title {
    text-align: center;
    font-size: 24px;
  }
  .services .container .title p:nth-child(2) {
    font-size: 26px;
  }
  .services .container .icons svg {
    padding: 20px;
  }
  .testimony .container .title .extra-title {
    font-size: 2.2rem;
  }
  .testimony .container .title p:nth-child(2) {
    font-size: 26px;
  }
  .testimony .container .boxes .box {
    width: 100%;
  }
  .testimony .container .boxes .box .image {
    text-align: center;
  }
  .testimony .container .boxes .box .image img {
    width: 100px;
    height: 100px;
  }
  .testimony .container .boxes .box .text .header p:first-child {
    font-size: 18px;
    padding: 3px 0;
  }
  .testimony .container .boxes .box .text .header p:last-child {
    font-size: 14px;
  }
  .testimony .container .boxes .box .text .content {
    font-size: 16px;
  }
  .testimony .container .boxes .box2 {
    margin-left: 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .blogs {
    width: 80%;
  }
  .blogs .container .title .extra-title {
    font-size: 2.2rem;
  }
  .blogs .container .title p:nth-child(2) {
    font-size: 26px;
  }
  .blogs .container .slider-blog .blogBox .description span {
    font-size: 14px;
  }
  .blogs .container .slider-blog .blogBox .blog-title {
    width: 90%;
    text-align: center;
    padding: 5% 0 7% 0;
  }
  .blogs .container .slider-blog .blogBox .blog-title p {
    font-size: 18px;
  }
  .blogs .container .slider-blog .blogBox .blog-btn {
    margin-bottom: 8%;
  }
  .contact .container .title .extra-title {
    font-size: 2.2rem;
  }
  .contact .container .title p:nth-child(2) {
    font-size: 26px;
  }
  .contact .container .left-box,
  .contact .container .right-box {
    padding: 10% 8%;
    float: none;
    width: 100%;
  }
  .contact .container .left-box p {
    text-align: center;
  }
  .contact .container .left-box .header {
    font-size: 1rem;
  }
  .contact .container .left-box .contact-btn a {
    font-size: 1.2rem;
  }
  .contact .container .left-box .logos {
    text-align: center;
  }
  .contact .container .left-box .logos img {
    width: 26px;
    height: 26px;
  }
  .contact .container .right-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .contact .container .right-box .message {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact .container .right-box .message p {
    font-size: 1rem;
  }
  .contact .container .right-box .message .text-area .icon-for-textarea img {
    width: 25px;
    height: 25px;
  }
  .contact .container .right-box .message .text-area textarea {
    font-size: 14px;
    height: 120px;
  }
  .contact .container .right-box .message,
  .contact .container .right-box .news-letter {
    padding-right: 20px;
  }
  .contact .container .right-box .news-letter {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact .container .right-box .news-letter p {
    font-size: 1rem;
  }
  .contact .container .right-box .news-letter .email-input input[type="text"] {
    font-size: 14px;
  }
  .contact .container .right-box .more-infos {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact .container .right-box .more-infos .logos {
    text-align: center;
  }
  .contact .container .right-box .more-infos .logos img {
    width: 20px;
    height: 20px;
  }
  .contact .container .right-box .more-infos .infos a {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 679px) {
  .blogs {
    height: 700px;
  }
  .blogs .container .trackers #prevBtn,
  .blogs .container .trackers #nextBtn {
    position: absolute;
    top: 75%;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}

@media (min-width: 680px) and (max-width: 765px) {
  .welcome {
    margin: 140px auto 100px auto;
  }
  .blogs {
    height: 770px;
  }
  .blogs .container .trackers #prevBtn,
  .blogs .container .trackers #nextBtn {
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
}

@media (min-width: 768px) and (max-width: 840px) {
  .blogs {
    height: 800px;
  }
  .blogs .container .trackers #prevBtn,
  .blogs .container .trackers #nextBtn {
    position: absolute;
    top: 65%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
}

@media (min-width: 481px) and (max-width: 580px) {
  .blogs .container .trackers #prevBtn,
  .blogs .container .trackers #nextBtn {
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

@media (min-width: 1600px) {
  .blogs {
    height: 1100px;
  }
  .blogs .container .trackers #prevBtn,
  .blogs .container .trackers #nextBtn {
    top: 60%;
  }
}

@media (min-width: 1830px) {
  .blogs {
    height: 1200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-content .slider .slide .text p:first-child {
    font-size: 4.7rem;
  }
  .header-content .slider .slide .text p:last-child {
    font-size: 1.8rem;
  }
  .header-content .check-in-container .check-in,
  .header-content .check-in-container .check-out,
  .header-content .check-in-container .guest-numbers {
    padding: 0;
    text-align: center;
  }
  .header-content .check-in-container input {
    width: 80%;
  }
  .welcome .container .text-container {
    width: 100%;
    padding: 60px;
  }
  .welcome .container .text-container .title p:last-child {
    margin-bottom: 40px;
  }
  .welcome .container .text-container .content {
    width: 100%;
  }
  .welcome .container .text-container .content p {
    line-height: 2.7;
  }
  .welcome .container .photo {
    width: 80%;
    top: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .welcome .container .photo img {
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .rooms .container .place-holders {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .rooms .container .place-holders .room .hover p:first-child {
    font-size: 26px;
  }
  .services .container .title .extra-title {
    text-align: center;
  }
  .testimony .container .title .extra-title {
    font-size: 2.8rem;
  }
  .testimony .container .boxes .box {
    width: 100%;
  }
  .testimony .container .boxes .box2 {
    margin-left: 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .blogs {
    width: 70%;
  }
  .blogs .container .title .extra-title {
    font-size: 2.8rem;
  }
  .blogs .container .slider-blog .blogBox .blog-title {
    text-align: center;
  }
  .blogs .container .slider-blog .blogBox .blog-title p {
    font-size: 20px;
  }
  .contact .container .title .extra-title {
    font-size: 2.8rem;
  }
  .contact .container .left-box .header {
    font-size: 1.1rem;
  }
  .contact .container .right-box .message .text-area textarea {
    font-size: 14px;
  }
}
/*# sourceMappingURL=home.css.map */